@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

body {
  margin: 0;
  font-family: "Nunito";
  overflow-x: hidden;
}

.About {
  text-align: center;
}

.plantMoms {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
  width: 60%
}

.mom{
  width: 40%
}

/* RESOURCES */

.Resources {
  text-align: center;
  width: 98%;
  margin: auto;
}

.blog-links {
  display: flex;
  flex-direction: column;
}

.blog-imgs {
  height: 200px;
  width: 200px;
}

a {
  text-decoration: none;
  color: inherit;
}

.videos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

iframe {
  padding: 5px;
}

.videos-list > div > h3 {
  margin-bottom: 0;
}

/* FORUM */

/* PLANTS */
main {
  margin: auto;
  width: 95%;
  line-height: 0;
  column-count: 3;
  column-gap: 3px;
}

.plant-img-main {
  height: auto;
  width: 100%;
  margin: 2px;
  position: relative;
  margin-top: -24px;
  bottom: 0px;
}

.hover-div {
  text-align: center;
  display: none;
  position: relative;
  bottom: 100px;
  z-index: 2;
  margin-bottom: -25px;
  overflow-y: hidden;
}

.plant-img-main:hover + .hover-div {
  display: block;
  overflow-y: hidden;
}

.plant-img-main:hover {
  opacity: 0.5;
  /* cursor: pointer; */
  overflow-y: hidden;
}

/* LOG IN PAGE */

.Auth {
  width: 200px;
  padding: 60px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 119px;
  color: green;
}

.log-in {
  background-image: url(../src/assests/loginBG.jpeg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
  height: 80vh;
}

.Footer {
  position: sticky;
  height: 45px;
  background: #eee;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
  margin: auto;
  height: 100%;
  align-items: center;
}

footer a:hover {
  color: rgb(104, 141, 12);
  font-weight: bolder;
}
/* PROFILE PAGE */

.welcome-profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #618b4a80; */
  margin: 50px;
  border-radius: 5px;
}

.welcome-banner {
  font-size: 20px;
  font-weight: bold;
  height: 80px;
  background-color: #618b4a80;
}

.welcome-profile button {
  height: 20px;
  border-radius: 5px;
}

/* plant details */
.all-details {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: 2em auto;
  align-items: center;
  max-width: 750px;
}

.plant-img-profile {
  height: 225px;
  padding: 2em;
}

.plant-title-profile {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}
.plant-title-profile span {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* PLANT MAINTENANCE */
.plant-care {
  display: flex;
  flex-direction: row;
}

.plantcare-box {
  border: 1px solid #333333;
  width: 300px;
  height: 200px;
  overflow: scroll;
  margin: auto;
  margin-bottom: 2em;
  background-color: white;
}

/* LIKE BUTTON */
.like-btn {
  position: relative;
  outline: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  top: 10px;
  left: 5px;
  z-index: 1;
}

.openPlant {
  width: 100%;
  z-index: 100;
}

.openPlant:after {
  display: contents;
}

.like-btn img {
  display: block;
  height: auto;
}

/* REMOVE BUTTON */
.remove-icon {
  position: relative;
  outline: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

/* ADD PLANT */

.add-plant-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  justify-content: center;
  text-align: center;
  width: 200px;
  font-size: 18px;
  font-weight: 800;
}
.add-plant {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 150px;
  margin: auto;
}
.add-plant option {
  text-align: center;
  justify-content: center;
}

/* COMMENT BOX */
.comment-box {
  width: 50%;
  height: 80px;
  margin: auto;
  font-size: 15px;
  display: flex;
  justify-content: center;
  font-family: "Nunito";
  outline:none;
  background: #eee;
}

.post-box {
  width: 90%;
  height: 80px;
  margin: auto;
  font-size: 15px;
  display: flex;
  justify-content: center;
  font-family: "Nunito";
}

.view-all-comments-btn {
  outline: none;
  font-size: 15px;
  background-color: Transparent;
  border: black 1px solid;
  cursor: pointer;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: flex-end !important;
  font-family: "Nunito";
}

.view-all-comments-btn:hover {
  background: #eee;
  cursor: pointer;
}

.eachPost h2 {
  font-family: 'Nunito Sans';
  font-weight: 700
}
/* FORUM COMMENT MODAL */

.ReactModal__Content--after-open {
  z-index: 100 !important;
}

/* MEDIA QUERIES */

@media screen and (max-width: 700px) {
  main {
    column-count: 2;
  }
  .videos-list {
    display: flex;
    flex-direction: column;
  }
  .all-details {
    flex-direction: column;
    text-align: center;
  }
  .plant-img-profile {
    padding-bottom: 0px;
  }

  .plant-care {
    display: flex;
    flex-direction: column;
  }

  .plantMoms{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1000px) {
  main {
    column-count: 4;
  }
  .colums {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1800px) {
  main {
    column-count: 5;
  }
}
